:host {
  --wave-size: 600;
  --intro-text-translate: 25;
  z-index: 1;
}
.wave.wave--flipped {
  top: -10px;
  bottom: unset;
  transform: rotate(180deg);
}
.wave-container {
  will-change: opacity;
}
.wave {
  position: absolute;
  will-change: opacity;
  bottom: -10px;
  left: 0;
  right: 0;
  mix-blend-mode: screen;
}
.wave svg {
  min-width: 1000px;
  width: 100%;
  height: 100%;
}
.wave svg path {
  fill: var(--color-secondary);
  stroke: var(--color-secondary);
}

.wave:nth-of-type(1) {
  mix-blend-mode: hue;
}

.wave:nth-of-type(2) {
  mix-blend-mode: screen;
}
.wave-animate-base {
  transform: matrix(6.5, 0, 0, 6.5, 0, 439.91943359375);
}
.wave-animate {
  animation: matrix linear forwards infinite;
}

.wave-animate-paused {
  animation-play-state: paused;
}

.wave-1 {
  animation-duration: 16s;
}

.wave-2 {
  animation-duration: 16.2s;
  animation-delay: 1.6s;
}

.wave-3 {
  animation-duration: 15.8s;
  animation-delay: 0.8s;
}

@keyframes matrix {
  from {
    transform: matrix(6.5, 0, 0, 6.5, 0, 439.91943359375);
  }
  to {
    transform: matrix(6.5, 0, 0, 6.5, 1950, 439.91943359375);
  }
}
