:host {
  --wave-size: 300;
  --intro-text-translate: 25;
  z-index: 1;
}
.wave.wave--flipped {
  top: 0;
  transform: rotate(180deg);
}
.wave {
  width: 100%;
  height: calc(var(--wave-size) * 1px);
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: calc(var(--wave-size) * 1px * 5);
  background-repeat: repeat-x;
  mix-blend-mode: screen;
  animation: bg-pos 15s linear forwards infinite;
}

.wave:nth-of-type(1) {
  mix-blend-mode: hue;

  height: calc(var(--wave-size) * 1.1px);
}
.wave:nth-of-type(2) {
  mix-blend-mode: screen;
  background-size: calc(var(--wave-size) * 1.2px * 5);
  animation: bg-pos-2 15s linear forwards infinite;

  height: calc(var(--wave-size) * 1.2px);
}
@keyframes bg-pos {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: calc(var(--wave-size) * 2px) 75%;
  }
  100% {
    background-position: calc(var(--wave-size) * 1px * 5) 75%;
  }
}
@keyframes bg-pos-2 {
  0% {
    background-position: 0% 75%;
  }
  50% {
    background-position: calc(var(--wave-size) * 2px) 75%;
  }
  100% {
    background-position: calc(var(--wave-size) * 1.2px * 5) 75%;
  }
}
