doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href="//cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet")
    script(src='//cdn.quilljs.com/1.3.6/quill.min.js')
    script(src="/lib/image-upload.min.js")

  body
    main
      block content
