/*
  Global App CSS
  ----------------------
*/
@import url("https://fonts.googleapis.com/css?family=Muli:400,900&display=swap");

:root {
  /* these are being set by js
    so no point wrinting a second time */

  /* --color-primary: tomato;
  --color-primary-transparent: #ff788033;
  --color-primary-light: #f6a7b1;
  --color-secondary: #261c57;
  --color-secondary-light: #9b92c9;
  --color-background: #1b1a23;
  --color-g-1: #36107e;
  --color-g-2: #1d1a2b;
  --color-g-3: #130b3c;
  --color-g-4: #261c57;
  --color-logo: rgb(40, 40, 40); */

  --color-text: var(--color-primary-light);
  --color-button: var(--color-primary);
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  background-color: var(--color-primary);
  font-family: var(--font-primary);
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: 16px;
}

input,
textarea,
button {
  font-family: inherit;
}

a {
  color: var(--color-text);
}
