/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

:root {
  --color-primary: #38dfa5;
  --color-secondary: #261c57;
  --color-background: #1b1a23;
  --color-g-1: #36107e;
  --color-g-2: #1d1a2b;
  --color-g-3: #130b3c;
  --color-g-4: #261c57;
  --color-text: #f7f6a5;
  --color-logo: rgb(40, 40, 40);
}
* {
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  overflow: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
