.theme-buttons {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 1;
  display: flex;
  align-items: center;
  opacity: 1;
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 0%;
  margin-left: 130px;
  display: grid;
  grid-template-columns: repeat(5, max-content);
  grid-gap: 0.5rem;
}

@media screen and (max-width: 420px) {
  .theme-buttons {
    grid-template-columns: repeat(3, max-content);
  }
}

.hide-overflow {
  overflow: hidden;
  position: relative;
  height: 100%;
}
