:host {
  --item-background: var(--color-g-2);
  --item-background--hover: var(--color-primary-light);
  --item-text: var(--color-g-2);
  --item-text--hover: var(--color-primary-dark);
  --item-text-size: 0.92rem;
  --item-subheading-size: 0.875rem;
  --item-heading-size: 1.125rem;
}
.preview {
  --item-text-size: 0.72rem;
  --item-subheading-size: 0.775rem;
  --item-heading-size: 0.9rem;
  /* --item-background: transparent; */
  /* --item-background--hover: transparent; */
}
article {
  color: var(--item-text);
}
code {
  color: var(--item-text);
}
p {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-size: var(--item-text-size);
  line-height: 1.475;
}
a {
  color: var(--color-text);
}
.project-item--container {
  background-color: var(--item-background);
  position: relative;
  overflow: hidden;
  transition: background 400ms ease;
  /* box-shadow: 8px 8px 0px rgba(0, 0, 0, 0.2); */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); 

  /* border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 5px; */
  /* border-radius: 12px; */
  height: 100%;
}
.project-item--container.preview {
  box-shadow: none;
  /* border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  box-shadow: inset -2px -2px 0 0 rgba(0, 0, 0, 0.2); */
  max-width: 180px;
}
.project-item--container.full-size {
  --item-background: transparent;
  --item-background--hover: var(--color-secondary-light);
  --item-text: var(--color-dark);
  --item-text--hover: var(--color-dark);
  box-shadow: 8px 16px 20px rgba(0, 0, 0, 0.08);
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  overflow: visible;
}
.project-link {
  margin-bottom: 1rem;
}
.project-item--container.full-size .details a {
  color: var(--color-secondary);
}
.project-item--container.full-size .project-item--subheading {
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.project-item--container.full-size .project-item--image {
  max-height: 100%;
}
.project-item--container.full-size .project-item--info {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
}
@media screen and (max-width: 420px) {
  .project-item--container.full-size .project-item--info {
    padding: 1.5rem 1.5rem 7.5rem 1.5rem;
  } 
}
.project-item--heading {
  margin-top: 0.25rem;
  margin-bottom: 0.65rem;
}
.project-item--heading a {
  line-height: 1.4;
  font-size: var(--item-heading-size);
  color: var(--item-text);
  max-height: 100%;
  text-decoration: none;
  transition: color 200ms ease;
}

.project-item--info {
  transform: translateY(0px);
  transition: transform 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.project-item--subheading {
  line-height: 1.36;
  font-size: var(--item-subheading-size);
  font-weight: normal;
  color: var(--item-text);
  margin-top: 0.5rem;
  transition: color 200ms ease;
}
.project-item--container.preview .project-item--subheading {
  display: none;
} 
@media screen and (max-width: 420px) {
  .project-item--heading {
    font-size: 1.25rem;
  }
  .project-item--sub-heading {
    font-size: 0.9rem;
  }
}
.project-item--container:not(.full-size):hover .project-item--heading a,
.project-item--container:not(.full-size):hover .project-item--subheading {
  color: var(--item-text--hover);
}
.project-item--container:not(.full-size):hover .project-item--info {
  transform: translateY(1px);
}

.project-item--figure {
  margin: 0;
  overflow: hidden;
}
.project-item--container:not(.full-size):hover .project-item--image {
  transform: scale(1.05);
}
.project-item--container:not(.full-size) {
  transition: background 1500ms 500ms ease;
}
.project-item--container:not(.full-size):hover {
  transition: background 500ms 0ms ease;
  background-color: var(--item-background--hover);
}

.project-item--image {
  /* max-height: 224px; */
  object-fit: cover;
  vertical-align: middle;
  width: 100%;
  height: auto;
  transform: scale(1);
  transition: transform 500ms ease;
}
.project-item--image__overlay {
  content: '';
  z-index: 1;
  mix-blend-mode: overlay;
  width: 100%;
  position: absolute;
  background: linear-gradient(#ffffff00, var(--color-primary));
  height: 100%;
  transform: translateY(100%);
  transition: transform 400ms 0ms ease;
}
.project-item--container.full-size .project-item--image__overlay {
  display: none;
}
.project-item--container.full-size .project-item--heading__overlay {
  display: none;
}

.project-item--container:not(.full-size):hover .project-item--image__overlay {
  transform: translateY(0%);
  transition: transform 1400ms 100ms ease;
}

.project-item--heading__overlay {
  clip-path:url('#wave-clip');
  /* transform: translate3d(-49%, -39%, 0); */
  content: '';
  z-index: 0;
  width: 200%;
  position: absolute;
  /* mix-blend-mode: screen; */
  opacity: 1;
  background-color: var(--color-primary);
  /* background: linear-gradient(45deg, var(--color-primary-light), var(--color-primary)); */
  height: 120%;
  animation: heading-overlay-wave-rev 800ms linear forwards;
  transition: all 600ms 0ms ease;
}

.project-item--container:not(.full-size):not(.preview):hover .project-item--heading__overlay {
  animation: heading-overlay-wave 1000ms linear forwards;
  
}
@keyframes heading-overlay-wave {
  0% {
    opacity: 1;
  transform: translate3d(-49%, -39%, 0);

  }
 
  45% {
  transform: translate3d(0%, -32%, 0);
  opacity: 1;
  }

  100% {
  opacity:0.3;
  transform: translate3d(-49%, -10%, 0);
  }
}

@keyframes heading-overlay-wave-rev {
  0% {
  opacity: 0.3;
  transform: translate3d(-49%, -10%, 0);
  }
  50% {
    opacity: 0.3;
  transform: translate3d(-0%, -20%, 0);
  }
  100% {
  opacity:1;
  transform: translate3d(-49%, -39%, 0);
  }
}

.tags-container {
  flex-direction: row;
  flex-wrap: wrap;
  display: none;
}
.full-size .tags-container {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;

}
@media screen and (max-width:420px) {
.full-size .tags-container {
    margin-left: 0rem;
    margin-right: 0rem;
  }
}

.tag {
  font-size: 0.67rem;
  background-color: var(--color-g-2);
  border-radius: 12px;
  padding: 0.35rem 0.65rem;
  font-weight: bold;
  color: var(--color-primary);
  /* border: 1px solid var(--color-primary); */
  margin-right: 0.33rem;
  margin-bottom: 0.33rem;
  display: inline-block;
}
.hash-tag {
  font-size: 0.67rem;
  /* background-color: var(--color-secondary-light); */
  border-radius: 12px;
  /* padding: 0.35rem 0.65rem; */
  font-weight: bold;
  color:var(--color-secondary);
  /* border: 1px solid var(--color-primary); */
  margin-right: 0.53rem;
  margin-bottom: 0.33rem;
  display: inline-block;
}
.project-item--container.full-size .wave-clip-svg {
  display: none;
}
.project-item--info {
  padding: 1rem;
}
.project-item--image__wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

.MetaContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.details {
  max-width: 700px;
  margin: 0 auto;
  padding: 1rem 0;
}
.details img {
  height: auto;
  max-width: 100%;
  border: 1px solid #efefef;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.details pre {
  white-space: pre-wrap;
}

.project-item--preview-container {
  top: 0rem;
  right: 0;
  position: absolute;
  visibility: hidden;
  transform: scale(0.5);
  opacity:0;
  transform-origin: top right;
  min-width: 150px;
  transition: all 350ms 200ms ease;
  
}

.project-item--preview-container.prev {
  left:0;
  transform-origin: top left;
}