:host {
  --intro-text-translate: 25;
  z-index: 1;
}
.app-home {
  /* transform: translateY(100%);
  transition: transform 500ms ease; */
}
.centered {
  flex-direction: column;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
p {
  color: var(--color-text);
  font-size: calc(0.8rem + 0.75vw);
  font-weight: lighter;
  letter-spacing: 0.75px;
  /* display: flex;
  align-items: center; */
}
.intro-text {
  text-align: center;
  opacity: 0;
  transform: translateY(calc(var(--intro-text-translate) * 1px));
  animation: come-on-in 2s 0.5s forwards;
}
.intro-text p {
  text-align: center;
}


.ren-bg {
  width: 100%;
  will-change: opacity;
  mix-blend-mode: luminosity;
  position: absolute;
  opacity: 0.05;
  height: 100vh;
  object-fit: cover;
  object-position: 0 10%;
}

@keyframes come-on-in {
  0% {
    oacity: 0;
    transform: translateY(calc(var(--intro-text-translate) * 1px));
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.footer {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
