a {
  transition: all 350ms ease-out;
  display: inline-block;
  user-select: none;
}
a:hover {
  transition: all 250ms ease-in;
}
a {
  color: var(--color-button);
  text-decoration: none;
  border-bottom: 2px solid;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  line-height: 1.25;
}
a.active {
  color: var(--color-text);
}
a:hover {
  color: var(--color-text);
}

a.button,
.route-link-button a {
  border-bottom: 0px;

  background-color: var(--color-button);
  cursor: pointer;
  color: var(--color-secondary);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  background-size: 200% 100%;
  background-color: var(--color-button);
  box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.1);
  background-position: left bottom;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
a.button:hover,
a.button.active,
.route-link-button a:hover,
.route-link-button a.active {
  background-color: var(--color-secondary);
  box-shadow: inset -2px -2px 0 0 rgba(0, 0, 0, 0.2);
  color: var(--color-button);
}
.color--alt {
  color: var(--color-primary);
}
.color--alt:hover {
  color: var(--color-primary);
}
.color--alt a {
  background-color: var(--color-secondary-transparent);
  color: var(--color-primary);
}
.color--alt a:hover {
  background-color: var(--color-primary-transparent);
  color: var(--color-primary);
}
.abs {
  position: absolute;
  z-index: 1;
}
.abs--top-left {
  top: 2rem;
  left: 2rem;
}
.abs--top-right {
  top: 2rem;
  right: 2rem;
}
.abs--right {
  right: 2rem;
}
.abs--left {
  left: 2rem;
}
.abs--bottom-left {
  bottom: 2rem;
  left: 2rem;
}
.abs--bottom-right {
  bottom: 2rem;
  right: 2rem;
}

@media screen and (max-width: 420px) {
  .abs--right, .abs--top-right, .abs--bottom-right {
    right: 1rem;
  }
  .abs--bottom-left, .abs--left, .abs--top-left {
    left: 1rem;
  }
  .abs--bottom-left, .abs--bottom-right {
    bottom: 1rem;
  }
  .abs--top-left, .abs--top-right {
    top: 1rem;
  }
}

.abs--middle {
  top: 50%;
  transform: translateY(-50%);
}

.link-next.abs--right {
  right: -4rem;
}
.link-prev.abs--left {
  left: -4rem;
}


@media screen and (max-width: 1200px) {
  .link-next.abs--right {
    right: 0px;
  }
  .link-next.abs--right a {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
  .link-prev.abs--left {
    left: 0px;
  }
  .link-prev.abs--left a {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
}

@media screen and (max-width: 420px) {
  .link-next.abs--right {
    right: -20px;
    
  }
  .link-next.abs--right a {
    padding-left: 0.35rem;
  }
  .link-prev.abs--left a {
    padding-right: 0.35rem;
  }
  .link-prev.abs--left {
    left: -20px;
  }
}

.link-next span {
  width: 24px;
  height: 24px;
}
.link-prev span {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

.flex-center a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: 3px;
}
a:hover .icon svg path {
  transition: fill 250ms ease-in;

  fill: var(--color-button);
}
.icon svg path {
  transition: fill 250ms ease-in;

  fill: currentColor;
}
