a {
  transition: all 350ms ease-out;
  display: inline-block;
  user-select: none;
}
a:hover {
  transition: all 250ms ease-in;
}
a {
  color: var(--color-button);
  text-decoration: none;
  border-bottom: 2px solid;
  font-weight: bold;
  font-size: 0.9rem;
  cursor: pointer;
  line-height: 1;
  display: inline-flex;
  align-items: center;
}
a.active {
  color: var(--color-text);
}
a:hover {
  color: var(--color-text);
}

a.button,
.route-link-button a {
  border-bottom: 0px;

  background-color: var(--color-button);
  cursor: pointer;
  color: var(--color-secondary);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  background-size: 200% 100%;
  background-color: var(--color-button);
  box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.1);
  background-position: left bottom;
  align-items: center;
  justify-content: center;
  display: inline-flex;
}
a.button:hover,
a.button.active,
.route-link-button a:hover,
.route-link-button a.active {
  background-color: var(--color-secondary);
  box-shadow: inset -2px -2px 0 0 rgba(0, 0, 0, 0.2);
  color: var(--color-button);
}
.color--dark {
  color: var(--color-dark);
}
.color--dark:hover a {
  color: var(--color-secondary);
}
 .color--dark:hover a .icon svg path {
   fill: currentColor;
 }
.color--alt {
  color: var(--color-primary);
}
.color--alt:hover {
  color: var(--color-primary);
}
.color--alt a {
  background-color: var(--color-secondary-transparent);
  color: var(--color-primary);
}
.color--alt a:hover {
  background-color: var(--color-primary-transparent);
  color: var(--color-primary);
}
 ui-button.abs {
  position: absolute;
  z-index: 1;
}
 ui-button.abs--top-left {
  top: 2rem;
  left: 2rem;
}
 ui-button.abs--top-right {
  top: 2rem;
  right: 2rem;
}
 ui-button.abs--right {
  right: 2rem;
}
 ui-button.abs--left {
  left: 2rem;
}
 ui-button.abs--bottom-left {
  bottom: 2rem;
  left: 2rem;
}
 ui-button.abs--bottom-right {
  bottom: 2rem;
  right: 2rem;
}

@media screen and (max-width: 420px) {
  ui-button.abs--right,  ui-button.abs--top-right,  ui-button.abs--bottom-right {
    right: 1.5rem;
  }
   ui-button.abs--bottom-left,  ui-button.abs--left,  ui-button.abs--top-left {
    left: 1.5rem;
  }
   ui-button.abs--bottom-left,  ui-button.abs--bottom-right {
    bottom: 1.5rem;
  }
   ui-button.abs--top-left,  ui-button.abs--top-right {
    top: 1.5rem;
  }
}

 ui-button.abs--middle {
  top: 50%;
  transform: translateY(-50%);
}

 ui-button.link-next.abs--right {
  right: -8rem;
}
 ui-button.link-prev.abs--left {
  left: -8rem;
}


@media screen and (max-width: 1200px) {
   ui-button.link-next.abs--right {
    right: 0px;
  }
   ui-button.link-next.abs--right a {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
  }
   ui-button.link-prev.abs--left {
    left: 0px;
  }
   ui-button.link-prev.abs--left a {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
  }
}
 .link-next .link-info, .link-prev .link-info {
    display: none;
  }
  @media screen and (min-width: 420px) {
  .link-next a:hover, .link-prev a:hover {
    background-color: transparent;
  }
  .link-next a:hover .project-item--preview-container {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }

  .link-prev a:hover .project-item--preview-container  {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }
}
@media screen and (max-width: 420px) {
   ui-button.link-next .link-info,  ui-button.link-prev .link-info {
    display: block;
    text-overflow: ellipsis;
    max-width: 100%;
    white-space: pre;
    overflow: hidden;
    flex-basis: 100%;
  }
   ui-button.link-next.abs--right {
    position: relative;
    bottom: -1rem;
    right: -1.5rem;
    position: absolute;
    width: calc(100% - 1.5em);
  }

   ui-button.link-prev.abs--left {
    position: relative;
    bottom: 2rem;
    left: -1.5rem;
    position: absolute;
    width: calc(100% - 1.5em);

  }
}

.link-next span {
  width: 24px;
  height: 24px;
}
.link-prev span {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
}

.flex-center a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: inline-flex;
  width: 17px;
  height: 17px;
  margin-left: 3px;
  z-index: 1;
}
a:hover .icon svg path {
  transition: fill 250ms ease-in;

  fill: var(--color-button);
}
.icon svg path {
  transition: fill 250ms ease-in;

  fill: currentColor;
}
