.app-page-project {
  background-color: var(--color-secondary);
  min-height: 100vh;
}



h1 {
  color: var(--color-primary);

  font-size: 3.5rem;
  font-weight: 800;
}
a {
  color: var(--color-text);
}
.class {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.project-item--header {
  text-align: left;
  padding: 1rem;
  background: var(--color-primary);
  color: var(--color-secondary);
}
.project-item--title {
  margin-bottom: 0;
}
.project-item--link {
  font-weight: bold;
}
.project-item--img {
  width: 100%;
  height: auto;
}
