.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  mix-blend-mode: hue;
  z-index: 99;
  background-attachment: fixed;
  background-size: cover;
  background-image: linear-gradient(-0deg, var(--color-primary), var(--color-secondary-light));
}
:host {
  position: relative;
}
