.app-page-projects {
  background-color: var(--color-secondary);
  min-height: 100vh;
}
.app-page-projects--container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  padding-top: 250px;
  padding-bottom: 50px;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .app-page-projects--container {
    padding-top: 50px;
  }
}
h1 {
  color: var(--color-primary);

  font-size: 3.5rem;
  font-weight: 800;
}
a {
  color: var(--color-text);
}
.class {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.project-item--header {
  text-align: left;
  padding: 1rem;
  background: var(--color-primary);
  color: var(--color-secondary);
}
.project-item--title {
  margin-bottom: 0;
}
.project-item--link {
  font-weight: bold;
}
.project-item--img {
  width: 100%;
  height: auto;
}
