.app-background {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  background-size: 400% 400%;
  background-image: linear-gradient(
    -45deg,
    var(--color-g-1),
    var(--color-g-2),
    var(--color-g-4),
    var(--color-g-4)
  );
  box-sizing: border-box;
  transition: background 1200ms ease;
  animation: gradient 10s ease 0s alternate infinite;
}
@media screen and (max-width: 420px) {
  .app-background {
    padding: 1.5rem;
  } 
}
@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}
