ui-container {
  z-index: 1;
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 50px;
  box-sizing: border-box;
}

/* theme buttons go to 2 rows here */
@media screen and (max-width: 420px) {
  ui-container {
    padding-top: 130px;
  }
}
